Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: masa soulname modal rework
  .eslintignore
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
Due: eslint --fix, prettier --write

fix: lint
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
Due: eslint --fix, prettier --write

2.4.18-alpha-3
  package.json
Due: prettier --write

feat: update wagmi & rainbowkit
  package.json
  yarn.lock
Due: prettier --write

fix: type errors for new wagmi version
  package.json
  src/provider/modules/wagmi/use-wagmi.tsx
  src/provider/use-network-switch.tsx
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: make wc v2 work
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/network/use-network.ts
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

2.4.14-alpha-4
  package.json
Due: prettier --write

fix: lint
  src/refactor/masa-client/use-masa-client.ts
Due: none

2.4.14-alpha-5
  package.json
Due: prettier --write

2.4.14-alpha-6
  package.json
Due: prettier --write

feat: valora fix
  package.json
  src/provider/configured-rainbowkit-provider/configured-rainbowkit-provider.tsx
  src/refactor/wallet-client/constants.ts
  stories/masa.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write

2.4.14-alpha-7
  package.json
Due: prettier --write

pin some package versions
  package.json
  yarn.lock
Due: prettier --write

2.4.14-alpha-8
  package.json
Due: prettier --write

use wallet connect v2
  src/provider/configured-rainbowkit-provider/configured-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

2.4.14-alpha-9
  package.json
Due: prettier --write

2.4.14-alpha-10
  package.json
Due: prettier --write

2.5.0
  package.json
Due: prettier --write

update masa-sdk
  package.json
  yarn.lock
Due: prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

2.5.1
  package.json
Due: prettier --write

try to type some things
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/components/masa-interface/pages/gallery/gallery.tsx
Due: eslint --fix, prettier --write

2.5.2
  package.json
Due: prettier --write

set default chain to forced network
  .storybook/main.js
  src/provider/configured-rainbowkit-provider/configured-rainbowkit-provider.tsx
  src/provider/configured-rainbowkit-provider/utils.ts
  src/provider/masa-provider.tsx
  src/refactor/config.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/wallet-client/utils.ts
Due: eslint --fix, prettier --write

2.5.3
  package.json
Due: prettier --write

update packages
  package.json
  yarn.lock
Due: prettier --write

2.5.4
  package.json
Due: prettier --write

Build fixes
  src/components/masa-interface/masa-interface.tsx
  src/components/masa-interface/pages/authenticate/authenticate.tsx
  src/components/masa-interface/pages/gallery/add-sbt.tsx
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/components/masa-interface/pages/gallery/index.tsx
  src/components/masa-interface/pages/masa-green/verifiy-and-mint.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
  src/components/masa-interface/pages/switch-chain/switch-chain.tsx
  src/components/masa-loading/masa-loading.tsx
  src/components/modal/modal.tsx
  src/components/new-modal/modals/AuthenticateModal.tsx
  src/components/new-modal/modals/CreateSoulnameModal.tsx
  src/components/new-modal/modals/SuccessCreateIdentityModal.tsx
  src/components/new-modal/modals/SwitchChainModal.tsx
  src/components/new-modal/modals/index.tsx
  src/components/spinner/spinner.tsx
  src/provider/masa-provider.tsx
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

2.6.0
  package.json
Due: prettier --write

2.6.0-alpha-1
  package.json
Due: prettier --write

Little improvement in soulname creation
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa/use-soulnames-purchase.ts
Due: eslint --fix, prettier --write

2.6.0-alpha-2
  package.json
Due: prettier --write

feat: add wagmi signer
  src/provider/masa-context-provider.tsx
Due: eslint --fix, prettier --write

2.6.0-alpha-3
  package.json
Due: prettier --write

refactored authenticate modal
  .eslintignore
  src/refactor/ui/components/modals/authenticate.tsx
  src/refactor/ui/components/spinner/index.ts
  src/refactor/ui/components/spinner/spinner.tsx
Due: eslint --fix, prettier --write

updated spinner component
  src/refactor/ui/components/spinner/spinner.tsx
Due: eslint --fix, prettier --write

reorganized and started refacotr of connted modal
  src/refactor/ui/components/masa-loading/index.tsx
  src/refactor/ui/components/masa-loading/masa-loading.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/index.tsx
  src/refactor/ui/components/modals/connected/connected.tsx
  src/refactor/ui/components/modals/connected/index.tsx
  src/refactor/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
