Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

3.21.0
  package.json
Due: prettier --write

feat: deepsource fix
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write

chore: update pkgs
  yarn.lock
Due: none

3.20.3
  package.json
Due: prettier --write

3.21.1
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
Due: none

chore: lint free
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write

chore: update docs
  docs/README.md
  docs/functions/MasaProvider.md
  docs/functions/useCanQuery.md
  docs/functions/useCreditScoreCreate.md
  docs/functions/useCreditScores.md
  docs/functions/useDebounce.md
  docs/functions/useDebounceIfValue.md
  docs/functions/useDebug.md
  docs/functions/useGreen.md
  docs/functions/useGreenGenerate.md
  docs/functions/useIdentity.md
  docs/functions/useIdentityListen.md
  docs/functions/useIdentityPurchase.md
  docs/functions/useMasaClient.md
  docs/functions/useMasaLoading.md
  docs/functions/useMasaQueryClient.md
  docs/functions/useMasaSDK.md
  docs/functions/useNetwork.md
  docs/functions/useNetworkSwitchListen.md
  docs/functions/useSession.md
  docs/functions/useSessionConnect.md
  docs/functions/useSessionListen.md
  docs/functions/useSoulNames.md
  docs/functions/useSoulNamesPurchase.md
  docs/functions/useWallet.md
  docs/globals.md
  docs/interfaces/MasaProviderValue.md
Due: none

feat (template rotation): update sdk to rotate login template
  package.json
  yarn.lock
Due: prettier --write

2.22.0-alpha.0
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
  docs/README.md
  docs/functions/MasaProvider.md
  docs/functions/useCanQuery.md
  docs/functions/useDebounce.md
  docs/functions/useDebounceIfValue.md
  docs/functions/useDebug.md
  docs/functions/useIdentity.md
  docs/functions/useIdentityListen.md
  docs/functions/useIdentityPurchase.md
  docs/functions/useMasaClient.md
  docs/functions/useMasaLoading.md
  docs/functions/useMasaQueryClient.md
  docs/functions/useMasaSDK.md
  docs/functions/useNetwork.md
  docs/functions/useNetworkSwitchListen.md
  docs/functions/useSession.md
  docs/functions/useSessionConnect.md
  docs/functions/useSessionListen.md
  docs/functions/useSoulNames.md
  docs/functions/useSoulNamesPurchase.md
  docs/functions/useWallet.md
  docs/globals.md
  docs/interfaces/MasaProviderValue.md
Due: none

chore: update pkgs
  package.json
  yarn.lock
Due: prettier --write

chore: update sdk
  yarn.lock
Due: none

2.22.0
  package.json
Due: prettier --write

2.22.1
  package.json
Due: prettier --write

chore: lint free
  src/wallet-client/utils.ts
Due: none

2.23.0
  package.json
Due: prettier --write

2.23.1
  package.json
Due: prettier --write

2.23.2
  package.json
Due: prettier --write

feat: update rainbowkit, wagmi and viem to newest major versions 2
  package.json
  yarn.lock
Due: prettier --write

fix: use-wallet output mismatch types
  src/wallet-client/wallet/use-wallet.ts
Due: none

fix: use-wallet usage of deprecated vars from wagmi
  src/wallet-client/wallet/use-wallet.ts
Due: none

feat: move QueryClientProvider to new wagmi + rainbowkit provider
  src/provider/masa-state-provider.tsx
  src/provider/masa-wagmi-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

feat: add wagmi and rainbowkit providers using some sample chains
  src/provider/masa-wagmi-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

feat: create new story using newest MasaWagmiRainbowkitProvider component
  src/stories/masaBreaking.stories.tsx
Due: eslint --fix, prettier --write

chore (soul names): Remove all soul name generation and storage methods
  package.json
  src/masa/index.ts
  src/masa/use-identity-purchase.ts
  src/masa/use-soulnames-purchase.ts
  yarn.lock
Due: prettier --write

3.0.0
  package.json
Due: prettier --write

4.0.0
  package.json
Due: prettier --write

4.1.0
  package.json
Due: prettier --write

chore: update sdk
  package.json
  yarn.lock
Due: prettier --write

4.2.0
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
