Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

3.0.26-alpha-1
  package.json
Due: prettier --write

Gallery useTabs: Removing useless method
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Gallery useTabs: removing eslint ignore
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Gallery useTabs: refactor useTabs removing unused stuff and lint ignores
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Gallery useTabs: using useAsyncFn instead of useCallback
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

fix for gallery metadata mismatch
  src/components/masa-interface/pages/gallery/gallery.tsx
  src/components/masa-interface/pages/gallery/index.tsx
  src/provider/masa-shape.ts
Due: eslint --fix, prettier --write

3.0.27
  package.json
Due: prettier --write

clear soulname input on error
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

lint fix
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

added tooltip for soulname validation
  package.json
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameProvider.tsx
  src/refactor/ui/scss/modal.scss
  src/styles.scss
  yarn.lock
Due: eslint --fix, prettier --write

3.0.28
  package.json
Due: prettier --write

linting
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

3.0.29
  package.json
Due: prettier --write

add tooltip package to css loader path
  webpack.config.prod.js
Due: none

Gallery: Refactored useTabs and UI components, applied better HTML semmantic
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/components/masa-interface/pages/gallery/gallery.tsx
  src/components/masa-interface/pages/gallery/index.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-shape.ts
  src/provider/modules/custom-sbts/custom-sbts.ts
  src/refactor/config.ts
  src/refactor/masa/index.ts
  src/refactor/masa/interfaces.tsx
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/gallery/Gallery.tsx
  src/refactor/ui/components/gallery/GalleryItem.tsx
  src/refactor/ui/components/gallery/Tab.tsx
  src/refactor/ui/components/gallery/index.ts
  src/refactor/ui/components/modals/gallery/Gallery.tsx
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

lint fix
  src/components/masa-interface/pages/gallery/gallery.tsx
Due: eslint --fix, prettier --write

3.0.28-alpha-1
  package.json
Due: prettier --write

lint fix
  src/refactor/ui/components/gallery/GalleryItem.tsx
Due: eslint --fix, prettier --write

3.0.28-alpha-2
  package.json
Due: prettier --write

Updated interfaces import
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/components/masa-interface/pages/gallery/index.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-shape.ts
  src/provider/modules/custom-sbts/custom-sbts.ts
  src/refactor/masa/interfaces.ts
Due: eslint --fix, prettier --write

Removed duplicated interface
  src/refactor/config.ts
Due: none

Add type import
  src/refactor/masa/use-custom-sbt.ts
Due: none

Fixing typo
  src/refactor/masa/interfaces.ts
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Moving methods inside hooks
  src/refactor/masa/use-custom-sbt.ts
Due: none

Refacotring custom contracts dependency
  src/refactor/masa/use-custom-sbt.ts
Due: none

Removing let for const
  src/refactor/masa/use-custom-sbt.ts
Due: none

Removing query client
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

gallery: section -> article
  src/refactor/ui/components/gallery/Gallery.tsx
Due: eslint --fix, prettier --write

GalleryItem: Memoizing image value
  src/refactor/ui/components/gallery/GalleryItem.tsx
Due: eslint --fix, prettier --write

Improved Tab interface
  src/refactor/ui/components/gallery/Tab.tsx
Due: eslint --fix, prettier --write

Gallery: imported all UI components
  src/refactor/ui/components/gallery/index.ts
Due: none

Gallery useTabs: removed unused method
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

added tooltip css
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/scss/rc-tooltip.scss
  src/refactor/ui/styles.scss
  yarn.lock
Due: eslint --fix, prettier --write

3.0.30
  package.json
Due: prettier --write

feat: add network error throw
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.31-alpha-1
  package.json
Due: prettier --write
