Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

3.1.0-alpha-1
  package.json
Due: prettier --write

Lint fix
  src/refactor/helpers/wagmi.ts
Due: none

3.1.0-alpha-2
  package.json
Due: prettier --write

Exporting custom SBTs
  src/refactor/masa/index.ts
Due: none

3.0.28-alpha-3
  package.json
Due: prettier --write

3.0.28
  package.json
Due: prettier --write

3.1.1
  package.json
Due: prettier --write

feat: make create soulname modal optional
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: none

3.1.2
  package.json
Due: prettier --write

3.1.3
  package.json
Due: prettier --write

update packages
  package.json
  yarn.lock
Due: prettier --write

3.1.4
  package.json
Due: prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/modules.md
Due: none

fix build
  src/refactor/wallet-client/utils.ts
Due: none

longer short addresses
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: none

3.1.5
  package.json
Due: prettier --write

prettier
  src/components/toggle/index.ts
Due: none

make soulnames load lazy
  src/refactor/masa/use-soulnames.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

make soulnames load lazy
  src/provider/modules/soulnames/soulnames.ts
  src/refactor/masa-client/masa-query-client-context.tsx
  src/refactor/masa/use-soulnames.ts
Due: eslint --fix, prettier --write

refactor
  src/provider/modules/soulnames/soulnames.ts
Due: none

3.2.9-alpha.1
  package.json
Due: prettier --write

3.2.0-alpha.1
  package.json
Due: prettier --write

replace useeffect with useasync
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

fix deepsource errors
  src/provider/modules/soulnames/soulnames.ts
  src/refactor/masa/use-soulnames.ts
Due: none

fix deepsource errors
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

dont replicate sdk functionality but instead use it from the sdk
  src/provider/modules/soulnames/soulnames.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

fix build
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

3.2.0
  package.json
Due: prettier --write

updated packages
  package.json
  yarn.lock
Due: prettier --write

3.2.1
  package.json
Due: prettier --write

fix soul names being a string[]
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-shape.ts
Due: eslint --fix, prettier --write

3.2.2
  package.json
Due: prettier --write

chore: remove old stories
  .storybook/main.js
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/components/masa-interface/pages/masa-green/masa-green.stories.tsx
  src/refactor/masa.stories.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/wallet.stories.tsx
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

chore: remove unused and duplicated css
  src/index.tsx
  src/refactor/masa.stories.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/ui/scss/fonts.scss
  src/refactor/ui/scss/modal.scss
  src/refactor/ui/styles.scss
  src/stories.scss
  src/styles.scss
Due: eslint --fix, prettier --write

chore: update storybook, remove unused css
  .storybook/main.js
  package.json
  src/refactor/ui/scss/modal.scss
  src/refactor/ui/styles.scss
  src/stories.scss
  src/styles.scss
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
