Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

added a green context provider to flow and initial verification functionality
  src/refactor/ui/components/modals/create-green/CreateGreenProvider.tsx
  src/refactor/ui/components/modals/create-green/PhoneInputForm.tsx
  src/refactor/ui/components/modals/create-green/TwoFAForm.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/phone-number-modal.tsx
  src/refactor/ui/components/modals/create-green/twofa-modal.tsx
  src/refactor/ui/components/modals/create-green/use-green-modal.ts
  src/refactor/ui/components/modals/create-green/verify-and-mint.tsx
Due: eslint --fix, prettier --write

HOTFIX: Soulname minting fix
  src/components/masa-interface/masa-interface.tsx
Due: eslint --fix, prettier --write

3.0.9
  package.json
Due: prettier --write

3.0.10
  package.json
Due: prettier --write

HOTIFX: Adding callback to soulname modal
  src/components/masa-interface/masa-interface.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-shape.ts
  src/provider/modules/modal/modal.ts
Due: eslint --fix, prettier --write

3.0.11
  package.json
Due: prettier --write

DEBUG: adding debug to soulname mint
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

DEBUG: adding debug to soulname mint
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

3.0.12-alpha-1
  package.json
Due: prettier --write

feat: soulname modal bug fixes, working authenticate modal
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa/use-masa-loading.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

3.0.12-alpha-2
  package.json
Due: prettier --write

feat: correct modal follow up
  src/refactor/ui/components/modals/authenticate/index.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
Due: eslint --fix, prettier --write

3.0.12-alpha-3
  package.json
Due: prettier --write

wip: debug in identity purchase
  src/refactor/masa/use-identity-purchase.ts
Due: none

Little type fix
  src/provider/masa-shape.ts
Due: none

hideLegacyModal prop to masa interface
  src/components/masa-interface/masa-interface.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-shape.ts
Due: eslint --fix, prettier --write

hideLegacyModal prop to masa interface
  src/components/masa-interface/masa-interface.tsx
  src/provider/masa-provider.tsx
Due: eslint --fix, prettier --write

3.0.12-alpha-4
  package.json
Due: prettier --write

feat: prevent old modal open callback from firing
  src/components/masa-interface/masa-interface.tsx
  src/provider/masa-context-provider.tsx
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

3.0.12-alpha-5
  package.json
Due: prettier --write

feat: add error modal to soulname, add json view to debug, fixes
  package.json
  src/provider/masa-shape.ts
  src/refactor/masa/use-identity-purchase.ts
  src/refactor/masa/use-soulnames-purchase.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/ModalError.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  yarn.lock
Due: eslint --fix, prettier --write

3.0.12-alpha-6
  package.json
Due: prettier --write

feat: correct error handling and logging
  src/components/masa-interface/masa-interface.tsx
  src/provider/masa-provider.tsx
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

3.0.12-alpha-7
  package.json
Due: prettier --write

fix: remove annoying console.log
  src/refactor/masa-client/use-masa-sdk.ts
Due: none

3.0.12-alpha-8
  package.json
Due: prettier --write

feat: add modal open state
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: none

3.0.12-alpha-9
  package.json
Due: prettier --write

chore: cleanup, add error handling for messages
  src/index.tsx
  src/refactor/index.tsx
  src/refactor/masa-client/index.ts
  src/refactor/masa/use-identity-purchase.ts
  src/refactor/masa/use-soulnames-purchase.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/authenticate/index.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  src/refactor/wallet-client/index.ts
  src/refactor/wallet-client/wallet/index.ts
Due: eslint --fix, prettier --write

3.0.12-alpha-10
  package.json
Due: prettier --write

3.0.12
  package.json
Due: prettier --write

purchase soulname with identity: added result metadata handling and updating masa-sdk
  package.json
  src/provider/masa-shape.ts
  src/refactor/masa/use-identity-purchase.ts
  src/refactor/masa/use-soulnames-purchase.ts
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  yarn.lock
Due: eslint --fix, prettier --write

purchase soulname with identity: added some type improvements to masa shape
  src/provider/masa-shape.ts
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

feat: update identity check
  src/refactor/masa/index.ts
  src/refactor/masa/use-identity-listen.ts
  src/refactor/masa/use-identity.ts
Due: none

3.0.13-alpha-1
  package.json
Due: prettier --write

Upgrade SDK
  package.json
  yarn.lock
Due: prettier --write

3.0.13
  package.json
Due: prettier --write

Adding wagmi base support
  package.json
  src/provider/masa-provider.tsx
  src/refactor/config.ts
  src/refactor/wallet-client/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

3.0.14
  package.json
Due: prettier --write
