Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

fix: network switching bool
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.31-alpha-2
  package.json
Due: prettier --write

fix: add finally state switch
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.31-alpha-3
  package.json
Due: prettier --write

feat: add switchnetwork async
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.31-alpha-4
  package.json
Due: prettier --write

fix: cleanup
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.31-alpha-5
  package.json
Due: prettier --write

feat: add export of network switch listen
  src/refactor/wallet-client/network/index.ts
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.31-alpha-6
  package.json
Due: prettier --write

3.0.31
  package.json
Due: prettier --write

Refactor useTabs
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Refactor useTabs
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Import Type instead of simple import
  src/refactor/masa/use-custom-sbt.ts
Due: none

Gallery styles relocation
  src/refactor/ui/components/gallery/gallery.scss
  src/refactor/ui/styles.scss
  src/styles.scss
Due: none

remove please connect modal
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
Due: eslint --fix, prettier --write

3.0.32
  package.json
Due: prettier --write

No nested articles
  src/refactor/ui/components/gallery/Gallery.tsx
Due: eslint --fix, prettier --write

Import fix
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Removing wrong import
  src/components/masa-interface/pages/gallery/index.tsx
Due: eslint --fix, prettier --write

Using camelCase for methods
  src/components/masa-interface/pages/gallery/index.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/gallery/Gallery.tsx
Due: eslint --fix, prettier --write

Refactoring use Tabs methods for custom contract fetching
  src/refactor/masa/interfaces.ts
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/ui/components/modals/gallery/useTabs.tsx
Due: eslint --fix, prettier --write

Providers migration
  package.json
  src/provider/configured-rainbowkit-provider/configured-rainbowkit-provider.tsx
  src/refactor/wallet-client/wagmi-rainbowkit-provider.tsx
  yarn.lock
Due: eslint --fix, prettier --write

useWallet migration
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: none

Adding helpers: Adapters
  package.json
  src/refactor/helpers/ethers.ts
  src/refactor/helpers/wagmi.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
  yarn.lock
Due: prettier --write

use-account-change-listener porting to useEthersProvider
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: none

Applying migration to the rest of the hooks and stuff that required some updates
  src/provider/modules/wagmi/use-wagmi.tsx
  src/provider/use-account-state.ts
  src/refactor/helpers/ethers.ts
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

Adding missing keys
  src/refactor/ui/components/gallery/Gallery.tsx
  src/refactor/ui/components/gallery/Tab.tsx
Due: eslint --fix, prettier --write

3.0.33
  package.json
Due: prettier --write

Type fix
  src/refactor/ui/components/gallery/Gallery.tsx
Due: eslint --fix, prettier --write

centered small inputs, remove autocomplete, remove payment method
  src/refactor/ui/components/Input.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameForm.tsx
Due: eslint --fix, prettier --write

3.0.34
  package.json
Due: prettier --write

Rainbowkit update
  package.json
  yarn.lock
Due: prettier --write

Cleanning comments
  src/refactor/helpers/ethers.ts
  src/refactor/helpers/wagmi.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: none

Usinginternal hooks
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

Updating packages
  package.json
  src/refactor/wallet-client/network/use-network-switch-listen.ts
  yarn.lock
Due: prettier --write

Updating packages
  package.json
  yarn.lock
Due: prettier --write

HOTFIX: adding missing reutrn
  src/refactor/helpers/ethers.ts
Due: none

Lint fix
  src/refactor/wallet-client/network/use-network-switch-listen.ts
Due: none

3.1.0
  package.json
Due: prettier --write
