Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update docs
  CHANGELOG.md
  docs/README.md
  docs/functions/MasaProvider.md
  docs/functions/useCanQuery.md
  docs/functions/useDebounce.md
  docs/functions/useDebounceIfValue.md
  docs/functions/useDebug.md
  docs/functions/useIdentity.md
  docs/functions/useIdentityListen.md
  docs/functions/useIdentityPurchase.md
  docs/functions/useMasaClient.md
  docs/functions/useMasaLoading.md
  docs/functions/useMasaQueryClient.md
  docs/functions/useMasaSDK.md
  docs/functions/useNetwork.md
  docs/functions/useNetworkSwitchListen.md
  docs/functions/useSession.md
  docs/functions/useSessionConnect.md
  docs/functions/useSessionListen.md
  docs/functions/useSoulNames.md
  docs/functions/useSoulNamesPurchase.md
  docs/functions/useWallet.md
  docs/globals.md
  docs/interfaces/MasaProviderValue.md
Due: none

feat: update rainbowkit, wagmi and viem to newest major versions 2
  package.json
  yarn.lock
Due: prettier --write

feat: add wagmi and rainbowkit providers using some sample chains
  src/provider/masa-wagmi-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

fix: use-wallet output mismatch types
  src/wallet-client/wallet/use-wallet.ts
Due: none

fix: use-wallet usage of deprecated vars from wagmi
  src/wallet-client/wallet/use-wallet.ts
Due: none

feat: move QueryClientProvider to new wagmi + rainbowkit provider
  src/provider/masa-state-provider.tsx
  src/provider/masa-wagmi-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

feat: create new story using newest MasaWagmiRainbowkitProvider component
  src/stories/masaBreaking.stories.tsx
Due: eslint --fix, prettier --write

chore: use PROJECT_ID on default config fx
  src/provider/masa-wagmi-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

feat: add masaChain and masaTestnetChain
  src/provider/masa-wagmi-rainbowkit-provider.tsx
  src/wallet-client/helpers/get-masa-chains.ts
Due: eslint --fix, prettier --write

fix: replace goerli with sepolia
  src/provider/masa-wagmi-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

feat: add solana wallet adapter dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: stash latest changes
  .storybook/main.js
  package.json
  src/stories/masaSolana.stories.tsx
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: update sdk
  package.json
  yarn.lock
Due: prettier --write

4.3.0
  package.json
Due: prettier --write

4.4.0
  package.json
Due: prettier --write

4.5.0
  package.json
Due: prettier --write

4.6.0
  package.json
Due: prettier --write

4.6.1
  package.json
Due: prettier --write

feat: updating sdk
  package.json
  yarn.lock
Due: prettier --write

4.6.2
  package.json
Due: prettier --write

feat: update sdk
  package.json
  yarn.lock
Due: prettier --write

4.6.3
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
