Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

2.3.7
  package.json
Due: prettier --write

debug: log session on login
  src/provider/modules/session/session.ts
Due: none

2.3.8
  package.json
Due: prettier --write

debug: Log out before login in
  src/components/masa-interface/masa-interface.tsx
  src/provider/modules/session/session.ts
Due: eslint --fix, prettier --write

Lint
  src/components/masa-interface/masa-interface.tsx
Due: eslint --fix, prettier --write

2.3.9
  package.json
Due: prettier --write

hotfix: add correct soulname check for cpp
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

2.3.10
  package.json
Due: prettier --write

update sdk
  package.json
  yarn.lock
Due: prettier --write

2.3.11
  package.json
Due: prettier --write

fix: masa session logout
  src/provider/modules/session/session.ts
  src/provider/use-account-state.ts
Due: none

2.3.12
  package.json
Due: prettier --write

fix: add removal of walletconnect local storage on disconnect
  src/provider/hooks.ts
  src/provider/use-account-state.ts
Due: none

2.3.13
  package.json
Due: prettier --write

update changelog
  CHANGELOG.md
Due: none

feat: masa state refacotr wip
  .eslintrc
  .storybook/main.js
  package.json
  src/refactor/MasaStateProvider.tsx
  src/refactor/base-provider.tsx
  src/refactor/config.ts
  src/refactor/index.tsx
  src/refactor/masa-client/masa-state-provider.tsx
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masa-provider.tsx
  src/refactor/masa-shape.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/Button.tsx
  src/refactor/ui/components/button.scss
  src/refactor/ui/index.tsx
  src/refactor/ui/scss/fonts.scss
  src/refactor/ui/styles.scss
  src/refactor/unused.tsx
  src/refactor/wallet-client/account-change.ts
  src/refactor/wallet-client/configured-rainbowkit-provider.tsx
  src/refactor/wallet-client/constants.ts
  src/refactor/wallet-client/utils.ts
  src/refactor/wallet-client/wallet-provider.tsx
  stories/unused.tsx
  webpack.config.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

update masa-sdk
  package.json
  yarn.lock
Due: prettier --write

2.3.14
  package.json
Due: prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

2.3.15
  package.json
Due: prettier --write

feat: refactor account - wip
  package.json
  src/refactor/base-provider.tsx
  src/refactor/masa-provider.tsx
  src/refactor/masa-shape.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/styles.scss
  src/refactor/wallet-client/configured-rainbowkit-provider.tsx
  src/refactor/wallet-client/network.ts
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wagmi-rainbowkit-provider.tsx
  src/refactor/wallet-client/wallet-client-provider.tsx
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: refactor wallet & network, add network switch detect, some ui
  src/refactor/base-provider.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/ui/styles.scss
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet-client-provider.tsx
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

Update styles
  src/styles.scss
Due: none

2.3.16
  package.json
Due: prettier --write

Updating indicator styles
  src/styles.scss
Due: none

2.3.17
  package.json
Due: prettier --write

feat: wip client, network switching & detection works
  package.json
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/styles.scss
  src/refactor/wallet-client/network/index.ts
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet-client-provider.tsx
  src/refactor/wallet-client/wallet/types.d.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
  stories/masa.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: add masa state generation
  package.json
  src/refactor/base-provider.tsx
  src/refactor/config.ts
  src/refactor/masa-client/masa-client-provider.tsx
  src/refactor/masa-client/masa-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masa-provider.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/ui/scss/fonts.scss
Due: eslint --fix, prettier --write

feat: correct ethereum switching, masa object creation
  src/refactor/base-provider.tsx
  src/refactor/hooks/use-debug.ts
  src/refactor/masa-client/masa-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/utils.ts
  src/refactor/wallet-client/wallet-client-provider.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: fixes, correct ethereum selection
  src/refactor/config.ts
  src/refactor/masa-client/masa-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masa-provider.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

feat: more wallet fixes
  src/refactor/masa-client/masa-client.ts
  src/refactor/wallet-client/utils.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: none

feat: more cleanup, masa client work
  src/refactor/masa-client/masa-client-provider.tsx
  src/refactor/masa-client/masa-client.ts
  src/refactor/masa-client/masa-state-provider.tsx
  src/refactor/masa-client/use-masa-sdk.ts
Due: eslint --fix, prettier --write

Adding network target in gallery SBTs
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/components/masa-interface/pages/gallery/gallery.tsx
  src/provider/modules/custom-sbts/custom-sbts.ts
Due: eslint --fix, prettier --write

Lint
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
Due: eslint --fix, prettier --write

2.4.0
  package.json
Due: prettier --write

feat: wip still a bit broken
  .eslintrc
  package.json
  src/refactor/config.ts
  src/refactor/masa-client/masa-client-provider.tsx
  src/refactor/masa-client/query-client.ts
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa-feature/use-identity.ts
  src/refactor/masa-feature/use-session.ts
  src/refactor/masa-provider.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/ui/styles.scss
  yarn.lock
Due: eslint --fix, prettier --write

base universe copy updates
  src/components/masa-interface/pages/authenticate/authenticate.tsx
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write
