Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

feat: add error handling to purchase hooks
  src/masa/use-credit-scores-create.ts
  src/masa/use-green-create.ts
  src/masa/use-identity-purchase.ts
  src/masa/use-soulnames-purchase.ts
Due: none

3.6.2
  package.json
Due: prettier --write

chore: update packages
  package.json
  yarn.lock
Due: prettier --write

3.6.3
  package.json
Due: prettier --write

chore: adapt changes
  src/masa/use-green-create.ts
Due: none

chore: update pkgs
  package.json
  yarn.lock
Due: prettier --write

3.6.4
  package.json
Due: prettier --write

3.7.0-alpha.1
  package.json
Due: prettier --write

3.7.0
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
  docs/interfaces/CustomGallerySBT.md
  docs/interfaces/FullContract.md
  docs/interfaces/FullContractWithTokens.md
  docs/interfaces/GalleryMetadata.md
  docs/interfaces/HydratedContract.md
  docs/interfaces/MasaProviderValue.md
  docs/interfaces/Metadata.md
  docs/interfaces/TabsInterface.md
  docs/interfaces/Token.md
  docs/interfaces/TokenWithMetadata.md
  docs/modules.md
  docs/modules/AuthenticateModal.md
  docs/modules/CreateSoulnameModal.md
Due: none

refactor: stories and unused code
  src/config.ts
  src/masa-client/query-client.ts
  src/masa-client/use-masa-client.ts
  src/masa-client/use-masa-sdk.ts
  src/masa/index.ts
  src/masa/interfaces.ts
  src/masa/use-custom-sbt.ts
  src/provider/masa-client-provider.tsx
  src/stories/masa.stories.tsx
  src/stories/masanew.stories.tsx
  src/stories/stories.scss
  src/stories/wallet.stories.tsx
  src/ui/components/Button.tsx
  src/ui/components/gallery/Gallery.tsx
  src/ui/components/gallery/GalleryItem.tsx
  src/ui/components/gallery/interfaces.ts
  src/wallet-client/helpers/wagmi.ts
  src/wallet-client/utils.ts
  src/wallet-client/wallet/use-wallet.ts
  tsconfig.json
Due: eslint --fix, prettier --write

3.8.0-alpha.1
  package.json
Due: prettier --write

refactor: remove wildcard imports
  src/index.tsx
  src/stories/masa.stories.tsx
  src/stories/masanew.stories.tsx
  src/stories/wallet.stories.tsx
Due: eslint --fix, prettier --write

refactor: lint free
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write

refactor: lint free
  src/masa/use-session-connect.ts
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write

3.8.0-alpha.2
  package.json
Due: prettier --write

refactor: let errors be errors
  src/masa/use-identity-purchase.ts
  src/masa/use-identity.ts
  src/stories/masa.stories.tsx
  src/stories/masanew.stories.tsx
  src/stories/wallet.stories.tsx
  src/ui/components/modals/create-soulname/CreateSoulnameProvider.tsx
  src/ui/components/modals/create-soulname/use-register-soulname.ts
  src/ui/components/modals/create-soulname/use-soulname-modal.tsx
  src/wallet-client/network/use-network-switch-listen.ts
  src/wallet-client/network/use-network.ts
  src/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

3.8.0-alpha.3
  package.json
Due: prettier --write

refactor: let errors be errors
  .deepsource.toml
Due: none

refactor: deepsource config
  .deepsource.toml
Due: none

3.8.0-alpha.4
  package.json
Due: prettier --write

3.8.0
  package.json
Due: prettier --write

refactor: prefer optional chain
  src/ui/components/Select.tsx
  src/ui/components/modals/create-soulname/use-register-soulname.ts
Due: eslint --fix, prettier --write

refactor: no useless templates
  src/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

3.8.1
  package.json
Due: prettier --write

3.8.2
  package.json
Due: prettier --write

chore: update sdk
  package.json
  yarn.lock
Due: prettier --write

4.0.0-alpha.1
  package.json
Due: prettier --write

4.0.0-alpha.2
  package.json
Due: prettier --write

chore: update pkgs
  package.json
  webpack.config.prod.js
  yarn.lock
Due: prettier --write

3.9.0
  package.json
Due: prettier --write

chore: update malicious package
  package.json
  yarn.lock
Due: prettier --write
