Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

feat: sync session to masa-sdk address, proper state sync for session
  src/refactor/masa-client-provider.tsx
  src/refactor/masa-client/query-client.ts
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masa-feature/session/use-session.ts
  src/refactor/masa-feature/use-session.ts
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

feat: session fixes, add identity, further wip masa client
  src/refactor/masa-client-provider.tsx
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa-feature/use-identity.ts
  src/refactor/masa-feature/use-session.ts
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/network/use-network.ts
Due: eslint --fix, prettier --write

update masa sdk
  package.json
  yarn.lock
Due: prettier --write

2.4.14
  package.json
Due: prettier --write

fix tests
  test/contracts.test.tsx
Due: eslint --fix, prettier --write

update docs
  docs/modules.md
Due: none

feat: add soulnames, wip
  src/refactor/masa-client-provider.tsx
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa-client/use-masa-query-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masa/use-identity-listen.ts
  src/refactor/masa/use-identity-purchase.ts
  src/refactor/masa/use-identity.ts
  src/refactor/masa/use-session.ts
  src/refactor/masa/use-soulnames-purchase.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masa/utils.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/styles.scss
Due: eslint --fix, prettier --write

feat: fix undefined return of soulnames
  src/refactor/masa-client/use-masa-query-client.ts
  src/refactor/masa/use-soulnames.ts
Due: none

feat: add credit scores, update query invalidation, add sbt
  src/refactor/hooks/use-can-query.ts
  src/refactor/masa-client-provider.tsx
  src/refactor/masa/use-credit-scores-create.ts
  src/refactor/masa/use-credit-scores.ts
  src/refactor/masa/use-identity-purchase.ts
  src/refactor/masa/use-identity.ts
  src/refactor/masa/use-sbt.ts
  src/refactor/masa/use-session-listen.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

feat: add green to refactor, update correct state derivation of session
  src/refactor/masa/use-credit-scores.ts
  src/refactor/masa/use-green-create.ts
  src/refactor/masa/use-green.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masa/utils.ts
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

feat: add sbt to refactor
  src/refactor/masa/use-sbt.ts
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

chore: deepsource fixes
  src/refactor/masa/utils.ts
  src/refactor/ui/components/Button.tsx
Due: eslint --fix, prettier --write

feat: refactor providers, deepsource
  src/refactor/masa-client/use-masa-query-client.ts
  src/refactor/masa-provider.tsx
  src/refactor/masa/use-credit-scores.ts
  src/refactor/masa/use-green.ts
  src/refactor/masa/use-identity.ts
  src/refactor/masa/use-sbt.ts
  src/refactor/masa/use-session.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masanew.stories.tsx
  src/refactor/provider/masa-client-provider.tsx
  src/refactor/provider/masa-state-provider.tsx
  src/refactor/provider/masa-wallet-provider.tsx
Due: eslint --fix, prettier --write

chore: deepsource fixes
  src/refactor/masa-client/query-client.ts
  src/refactor/masa-provider.tsx
  src/refactor/masa-shape.ts
  src/refactor/masanew.stories.tsx
  src/refactor/provider/masa-state-provider.tsx
  src/refactor/provider/masa-wallet-provider.tsx
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

chore: fix deepsource
  src/refactor/masa/use-credit-scores.ts
  src/refactor/masa/use-green.ts
  src/refactor/masa/use-identity.ts
  src/refactor/masa/use-sbt.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/provider/masa-state-provider.tsx
Due: eslint --fix, prettier --write

chore: deepsource fixes
  src/refactor/masa/use-session.ts
Due: none

feat: refactor masa session, update other entities
  src/refactor/masa-client/query-client.ts
  src/refactor/masa/use-identity-listen.ts
  src/refactor/masa/use-session-connect.ts
  src/refactor/masa/use-session-listen.ts
  src/refactor/masa/use-session.ts
  src/refactor/masanew.stories.tsx
  src/refactor/provider/masa-client-provider.tsx
Due: eslint --fix, prettier --write

chore: deepsource fixes
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
Due: none

chore: fix deepsource
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
Due: none

chore: deepsource fixes
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

fix: dependency cycles
  src/refactor/masa-client/masa-query-client-context.tsx
  src/refactor/masa-client/use-masa-query-client.ts
  src/refactor/masa/use-credit-scores.ts
  src/refactor/masa/use-green.ts
  src/refactor/masa/use-identity.ts
  src/refactor/masa/use-sbt.ts
  src/refactor/masa/use-session.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masanew.stories.tsx
  src/refactor/provider/masa-client-provider.tsx
  src/refactor/provider/masa-state-provider.tsx
Due: eslint --fix, prettier --write

chore: update deepsource
  .deepsource.toml
Due: none

chore: fix deepsource
  .deepsource.toml
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

chore: deepsource ignores
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

chore: deepsource ignore
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

chore: remove commented & unused code
  src/refactor/masa/use-session.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/masa/utils.ts
  src/refactor/provider/masa-client-provider.tsx
  src/refactor/unused.tsx
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
Due: eslint --fix, prettier --write

feat: make old masa use refactor - wip
  src/provider/masa-context-provider.tsx
  src/provider/masa-provider.tsx
  src/refactor/masa/use-credit-scores-create.ts
  src/refactor/masa/use-credit-scores.ts
  src/refactor/masa/use-green-create.ts
  src/refactor/masa/use-green.ts
  src/refactor/masa/use-identity-purchase.ts
  src/refactor/masa/use-identity.ts
  src/refactor/masa/use-session.ts
  src/refactor/masa/use-soulnames.ts
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

feat: integrate refactor into old masa
  src/components/masa-interface/masa-interface.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-provider.tsx
  src/refactor/wallet-client/network/use-network.ts
Due: eslint --fix, prettier --write

2.4.15
  package.json
Due: prettier --write

feat: update soulname purchase, integrate refactor more
  src/components/masa-interface/masa-interface.tsx
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/provider/masa-context-provider.tsx
  src/provider/masa-provider.tsx
  src/provider/masa-shape.ts
  src/refactor/wallet-client/network/use-network.ts
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

2.4.16
  package.json
Due: prettier --write

chore: add code comments
  src/provider/masa-provider.tsx
  src/refactor/wallet-client/wallet-client-provider.tsx
Due: eslint --fix, prettier --write

2.4.17
  package.json
Due: prettier --write

fix useNetwork: used activeChain.id instead of name to get the supported network information
  src/refactor/wallet-client/network/use-network.ts
Due: none

2.4.18
  package.json
Due: prettier --write

2.4.18-alpha
  package.json
Due: prettier --write

feat: revert network changes
  src/refactor/wallet-client/network/use-network.ts
Due: none

2.4.18-alpha-2
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
