Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Base config in new masa state
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

Cookiemonster removed from masa-react
  package.json
  src/provider/masa-provider.tsx
  src/refactor/config.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
Due: eslint --fix, prettier --write

lint fix
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

3.0.15
  package.json
Due: prettier --write

Adding soulname and connector to the response
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

3.0.16
  package.json
Due: prettier --write

Type fix
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

3.0.17
  package.json
Due: prettier --write

feat: wip add console.logs
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  yarn.lock
Due: eslint --fix, prettier --write

3.0.18-alpha-1
  package.json
Due: prettier --write

chore: more console.logs
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
Due: none

3.0.18-alpha-2
  package.json
Due: prettier --write

feat: wip quickfix onauth success
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: none

3.0.18-alpha-3
  package.json
Due: prettier --write

feat: wip add payload arg to auth modal
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: eslint --fix, prettier --write

3.0.18-alpha-4
  package.json
Due: prettier --write

Base content fix
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
Due: eslint --fix, prettier --write

3.0.18-alpha-5
  package.json
Due: prettier --write

feat: wip connectwallet mint
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/wallet-client/network/use-network.ts
Due: none

3.0.18-alpha-6
  package.json
Due: prettier --write

Twitter content for base
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

3.0.18-alpha-7
  package.json
Due: prettier --write

Twitter content fix
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

3.0.18-alpha-8
  package.json
Due: prettier --write

3.0.18-alpha-10
  package.json
Due: prettier --write

clean: removing logs and unused stuff
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: none

feat: network switch listen only once
  src/refactor/wallet-client/network/use-network-switch-listen.ts
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/wallet-client-provider.tsx
Due: eslint --fix, prettier --write

3.0.18-alpha-11
  package.json
Due: prettier --write

feat: add flag to open soulname after auth or not
  src/components/new-modal/modals/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/wallet-client/network/use-network.ts
Due: eslint --fix, prettier --write

3.0.18-alpha-12
  package.json
Due: prettier --write

feat: move disabling soulname modal to function argument
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: none

3.0.18-alpha-13
  package.json
Due: prettier --write

feat: correct function argument
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
Due: eslint --fix, prettier --write

3.0.18-alpha-14
  package.json
Due: prettier --write

feat: move session listener to provider
  src/refactor/masa/use-session.ts
  src/refactor/provider/masa-client-provider.tsx
Due: eslint --fix, prettier --write

3.0.18-alpha-15
  package.json
Due: prettier --write

feat: more exports
  src/refactor/masa-client/index.ts
Due: none

3.0.18-alpha-16
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
