Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

2.8.0
  package.json
Due: prettier --write

3.0.0
  package.json
Due: prettier --write

feat: add contract address overrides to refactor
  src/provider/masa-context-provider.tsx
  src/provider/masa-provider.tsx
  src/refactor/config.ts
  src/refactor/masa-client/use-masa-client.ts
Due: eslint --fix, prettier --write

3.0.1
  package.json
Due: prettier --write

added green modal flow
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-green/air-drop.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/index.tsx
  src/refactor/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

slippage styling, soulname wordwrap
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/styles.scss
Due: eslint --fix, prettier --write

3.0.2
  package.json
Due: prettier --write

3.0.3
  package.json
Due: prettier --write

worked on adding green modal flow
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-green/air-drop.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/not-a-bot-modal.tsx
  src/refactor/ui/components/modals/create-green/use-green-modal.ts
Due: eslint --fix, prettier --write

feat: merge newest, update lint errors, add provider for create soulname
  .eslintignore
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/provider/masa-provider.tsx
  src/refactor/config.ts
  src/refactor/hooks/use-debounce.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/Input.tsx
  src/refactor/ui/components/Select.tsx
  src/refactor/ui/components/modals/authenticate/auth-view.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/create-green/CreateGreenModal.tsx
  src/refactor/ui/components/modals/create-green/air-drop.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/not-a-bot-modal.tsx
  src/refactor/ui/components/modals/create-green/use-green-modal.ts
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameForm.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameProvider.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  src/refactor/ui/components/modals/create-soulname/use-soulname-modal.tsx
  src/refactor/ui/components/modals/modal.tsx
  src/refactor/ui/scss/modal.scss
  src/refactor/ui/scss/rodal.scss
  src/refactor/ui/styles.scss
  src/refactor/wallet-client/wallet/use-wallet.ts
  src/styles.scss
Due: eslint --fix, prettier --write

feat: create soulname modal, lint fixes, walletconnect fix
  src/provider/masa-provider.tsx
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/ModalError.tsx
  src/refactor/ui/components/modals/ModalSuccess.tsx
  src/refactor/ui/components/modals/create-credit-score/create-credit-score.tsx
  src/refactor/ui/components/modals/create-identity/hurray-view.tsx
  src/refactor/ui/components/modals/create-identity/success-view.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameForm.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameProvider.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  src/refactor/ui/components/modals/modal.tsx
  src/refactor/wallet-client/constants.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

feat: create soulname modal, walletconnect fixes
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-credit-score/create-credit-score.tsx
  src/refactor/wallet-client/constants.ts
  src/refactor/wallet-client/utils.ts
  src/refactor/wallet-client/wagmi-rainbowkit-provider.tsx
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

feat: finish new soulname modal, walletconnect fixes
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
  src/refactor/ui/components/modals/create-soulname/use-register-soulname.ts
  src/refactor/ui/components/modals/modal.tsx
Due: eslint --fix, prettier --write

3.0.4
  package.json
Due: prettier --write

feat: close modal on esc
  src/refactor/ui/components/modals/modal.tsx
Due: eslint --fix, prettier --write

3.0.5
  package.json
Due: prettier --write

feat: export some refactor bits, include modalprovider in masa provider
  src/index.tsx
  src/refactor/index.tsx
  src/refactor/masa-provider.tsx
  src/refactor/masa/index.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-soulname/index.tsx
  src/refactor/ui/components/modals/index.tsx
  src/refactor/ui/components/modals/modal.tsx
  src/refactor/ui/index.tsx
Due: eslint --fix, prettier --write

3.0.6
  package.json
Due: prettier --write

fix soulname reject error handling
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
Due: eslint --fix, prettier --write

lint fixes
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
Due: eslint --fix, prettier --write

3.0.7
  package.json
Due: prettier --write

added masa-green modal flows view
  .eslintignore
  src/refactor/ui/components/modals/create-green/PhoneInputForm.tsx
  src/refactor/ui/components/modals/create-green/TwoFAForm.tsx
  src/refactor/ui/components/modals/create-green/air-drop.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/not-a-bot-modal.tsx
  src/refactor/ui/components/modals/create-green/phone-number-modal.tsx
  src/refactor/ui/components/modals/create-green/success-modal.tsx
  src/refactor/ui/components/modals/create-green/twofa-modal.tsx
  src/refactor/ui/components/modals/create-green/use-green-modal.ts
  src/refactor/ui/components/modals/create-green/verify-and-mint.tsx
Due: eslint --fix, prettier --write

refactored green flow modal setup
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/use-green-modal.ts
Due: eslint --fix, prettier --write

styling fixes for green flow
  src/refactor/ui/components/modals/create-green/TwoFAForm.tsx
  src/refactor/ui/components/modals/create-green/twofa-modal.tsx
  src/refactor/ui/scss/modal.scss
Due: eslint --fix, prettier --write

more css fixes
  src/refactor/ui/components/modals/create-green/TwoFAForm.tsx
Due: eslint --fix, prettier --write

fixed more styling issues in modal flow
  src/refactor/ui/components/modals/create-green/TwoFAForm.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/twofa-modal.tsx
  src/refactor/ui/components/modals/create-green/verify-and-mint.tsx
  src/refactor/ui/components/modals/modal.tsx
Due: eslint --fix, prettier --write

wiring in submission logic to green flow
  src/refactor/ui/components/modals/create-green/PhoneInputForm.tsx
  src/refactor/ui/components/modals/create-green/create-green.tsx
  src/refactor/ui/components/modals/create-green/phone-number-modal.tsx
  src/refactor/ui/components/modals/create-green/twofa-modal.tsx
  src/refactor/ui/components/modals/create-green/use-green-modal.ts
  src/refactor/ui/scss/modal.scss
Due: eslint --fix, prettier --write

authenticate modal: Added callbacks for authenticate modal, included next prop for chaining. Included an example
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

authenticate modal: Added callbacks for authenticate modal, included next prop for chaining. Included an example
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/create-soulname/ModalSuccess.tsx
Due: eslint --fix, prettier --write

fix: wrong network name for masa
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/utils.ts
  src/refactor/wallet-client/wallet-client-provider.tsx
Due: eslint --fix, prettier --write

3.0.8-alpha-1
  package.json
Due: prettier --write

fix: wrong supported network assignment
  src/refactor/base-provider.tsx
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

3.0.8-alpha-2
  package.json
Due: prettier --write

chore: trigger github
  src/refactor/wallet-client/utils.ts
Due: none

fix: wrong network name
  src/refactor/masa-client/use-masa-client.ts
Due: none

3.0.8-alpha-3
  package.json
Due: prettier --write

3.0.8
  package.json
Due: prettier --write

feat: wip authenticate
  src/refactor/masa/use-masa-loading.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/ModalLoading.tsx
  src/refactor/ui/components/modals/authenticate/auth-view.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
