Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

feat: wip wagmi udpate
  package.json
  src/MasaUpdatedProvider.tsx
  src/provider/masa-state-provider.tsx
  src/provider/masa-wallet-provider.tsx
  src/stories/masa.stories.nop
  src/stories/viem-update.stories.tsx
  src/stories/wallet.stories.nop
  src/ui/styles.scss
  src/wallet-client/helpers/get-masa-chains.ts
  src/wallet-client/helpers/wagmi-ethers-adapters.ts
  src/wallet-client/wagmi-rainbowkit-provider.tsx
  src/wallet-client/wallet-client-provider.tsx
  src/wallet-client/wallet/use-account-change-listen.ts
  src/wallet-client/wallet/use-wallet.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: update masa eslint
  package.json
  src/masa/use-session-listen.ts
  src/provider/masa-client-provider.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: update pkgs
  package.json
  yarn.lock
Due: prettier --write

3.17.2
  package.json
Due: prettier --write

3.18.0
  package.json
Due: prettier --write

chore: upgrade pkgs
  yarn.lock
Due: none

3.18.1
  package.json
Due: prettier --write

3.18.2
  package.json
Due: prettier --write

remove workflow
  .github/workflows/publish-to-docs.yml
Due: prettier --write

chore: update sdk
  package.json
  yarn.lock
Due: prettier --write

3.19.0
  package.json
Due: prettier --write

chore: update pkgs
  yarn.lock
Due: none

3.19.1
  package.json
Due: prettier --write

feat: update sdk
  package.json
  yarn.lock
Due: prettier --write

3.19.2
  package.json
Due: prettier --write

feat: updating sdk
  package.json
  yarn.lock
Due: prettier --write

3.19.3
  package.json
Due: prettier --write

3.19.4
  package.json
Due: prettier --write

3.19.5
  package.json
Due: prettier --write

feature: move UI to the using components
  src/index.tsx
  src/stories/masa.stories.tsx
  src/stories/masanew.stories.tsx
  src/stories/wallet.stories.tsx
  src/styles.scss
  src/ui/components/Button.tsx
  src/ui/components/Input.tsx
  src/ui/components/Select.tsx
  src/ui/components/button.scss
  src/ui/components/gallery/Gallery.tsx
  src/ui/components/gallery/GalleryItem.tsx
  src/ui/components/gallery/Tab.tsx
  src/ui/components/gallery/gallery.scss
  src/ui/components/gallery/index.ts
  src/ui/components/gallery/interfaces.ts
  src/ui/components/index.tsx
  src/ui/components/masa-loading/index.tsx
  src/ui/components/masa-loading/masa-loading.tsx
  src/ui/components/modals/ModalError.tsx
  src/ui/components/modals/ModalLoading.tsx
  src/ui/components/modals/authenticate/authenticate.tsx
  src/ui/components/modals/authenticate/index.tsx
  src/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/ui/components/modals/authenticate/use-authenticate.ts
  src/ui/components/modals/create-soulname/CreateSoulnameForm.tsx
  src/ui/components/modals/create-soulname/CreateSoulnameModal.tsx
  src/ui/components/modals/create-soulname/CreateSoulnameProvider.tsx
  src/ui/components/modals/create-soulname/ModalSuccess.tsx
  src/ui/components/modals/create-soulname/index.tsx
  src/ui/components/modals/create-soulname/use-register-soulname.ts
  src/ui/components/modals/create-soulname/use-soulname-modal.tsx
  src/ui/components/modals/index.tsx
  src/ui/components/modals/modal.tsx
  src/ui/components/spinner/index.ts
  src/ui/components/spinner/spinner.tsx
  src/ui/index.tsx
  src/ui/styles.scss
Due: eslint --fix, prettier --write

3.20.0-alpha.1
  package.json
Due: prettier --write

3.20.0
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
  docs/.nojekyll
  docs/README.md
  docs/functions/MasaProvider.md
  docs/functions/useCanQuery.md
  docs/functions/useCreditScoreCreate.md
  docs/functions/useCreditScores.md
  docs/functions/useDebounce.md
  docs/functions/useDebounceIfValue.md
  docs/functions/useDebug.md
  docs/functions/useGreen.md
  docs/functions/useGreenGenerate.md
  docs/functions/useIdentity.md
  docs/functions/useIdentityListen.md
  docs/functions/useIdentityPurchase.md
  docs/functions/useMasaClient.md
  docs/functions/useMasaLoading.md
  docs/functions/useMasaQueryClient.md
  docs/functions/useMasaSDK.md
  docs/functions/useNetwork.md
  docs/functions/useNetworkSwitchListen.md
  docs/functions/useSession.md
  docs/functions/useSessionConnect.md
  docs/functions/useSessionListen.md
  docs/functions/useSoulNames.md
  docs/functions/useSoulNamesPurchase.md
  docs/functions/useWallet.md
  docs/globals.md
  docs/interfaces/MasaProviderValue.md
  docs/modules.md
Due: none

feature: more deletions
  src/assets/twitterLogo.ts
  src/fonts/Ezra-Bold.otf
  src/fonts/Ezra-BoldItalic.otf
  src/fonts/Ezra-Italic.otf
  src/fonts/Ezra-Light.otf
  src/fonts/Ezra-Medium.otf
  src/fonts/Ezra-MediumItalic.otf
  src/fonts/Inter-Bold.ttf
  src/fonts/Inter-ExtraBold.ttf
  src/fonts/Inter-Light.ttf
  src/fonts/Inter-Medium.ttf
  src/fonts/Inter-Regular.ttf
  src/fonts/Inter-SemiBold.ttf
  src/fonts/proximanova-bold-webfont.woff
  src/fonts/proximanova-bold-webfont.woff2
  src/scss/modal.scss
  src/scss/rc-tooltip.scss
  src/scss/rodal.scss
  src/styles-fonts.scss
  src/styles.scss
  webpack.config.js
Due: none

3.20.1
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
  docs/README.md
  docs/functions/MasaProvider.md
  docs/functions/useCanQuery.md
  docs/functions/useCreditScoreCreate.md
  docs/functions/useCreditScores.md
  docs/functions/useDebounce.md
  docs/functions/useDebounceIfValue.md
  docs/functions/useDebug.md
  docs/functions/useGreen.md
  docs/functions/useGreenGenerate.md
  docs/functions/useIdentity.md
  docs/functions/useIdentityListen.md
  docs/functions/useIdentityPurchase.md
  docs/functions/useMasaClient.md
  docs/functions/useMasaLoading.md
  docs/functions/useMasaQueryClient.md
  docs/functions/useMasaSDK.md
  docs/functions/useNetwork.md
  docs/functions/useNetworkSwitchListen.md
  docs/functions/useSession.md
  docs/functions/useSessionConnect.md
  docs/functions/useSessionListen.md
  docs/functions/useSoulNames.md
  docs/functions/useSoulNamesPurchase.md
  docs/functions/useWallet.md
  docs/globals.md
  docs/interfaces/MasaProviderValue.md
Due: none

refactor: remove useless tests
  jest.config.js
  test/__mocks__/styleMock.ts
  test/contracts.test.tsx
Due: eslint --fix, prettier --write

refactor: remove dead code
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write

refactor: remove unused pkgs
  package.json
  yarn.lock
Due: prettier --write

refactor: remove unused stylings
  src/styles.scss
Due: none

3.20.2
  package.json
Due: prettier --write

feat: Removing green and credit scores
  src/masa/index.ts
  src/masa/use-credit-scores-create.ts
  src/masa/use-credit-scores.ts
  src/masa/use-green-create.ts
  src/masa/use-green.ts
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write

feat: lint
  src/stories/masanew.stories.tsx
Due: eslint --fix, prettier --write
