Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: deepsource comments
  src/refactor/masa.stories.tsx
  src/refactor/wallet.stories.tsx
Due: eslint --fix, prettier --write

fix: deepsource
  src/masa-client/use-masa-sdk.ts
Due: none

feat: remove unused modals, update exports
  src/index.tsx
  src/masanew.stories.tsx
  src/ui/components/index.tsx
  src/ui/components/modals/authenticate/index.tsx
  src/ui/components/modals/create-credit-score/create-credit-score.tsx
  src/ui/components/modals/create-credit-score/index.tsx
  src/ui/components/modals/create-green/CreateGreenModal.tsx
  src/ui/components/modals/create-green/air-drop.tsx
  src/ui/components/modals/create-green/create-green.tsx
  src/ui/components/modals/create-green/index.tsx
  src/ui/components/modals/create-green/not-a-bot-modal.tsx
  src/ui/components/modals/create-green/use-green-modal.ts
  src/ui/components/modals/create-identity/create-identity.tsx
  src/ui/components/modals/create-identity/hurray-view.tsx
  src/ui/components/modals/create-identity/index.tsx
  src/ui/components/modals/create-identity/success-view.tsx
  src/ui/components/modals/create-soulname/index.tsx
  src/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

chore: remove unused dependencies
  package.json
  webpack.config.prod.js
  yarn.lock
Due: prettier --write

feat: more exports
  src/ui/components/modals/gallery/index.ts
  src/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

3.3.0-alpha-1
  package.json
Due: prettier --write

feat: more exports and restructure
  src/hooks/index.ts
  src/index.tsx
  src/wallet-client/helpers/ethers.ts
  src/wallet-client/helpers/wagmi.ts
  src/wallet-client/wallet/use-account-change-listen.ts
  src/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

3.3.0-alpha-2
  package.json
Due: prettier --write

fixed spacing on authentication modal
  src/styles.scss
Due: none

node 18
  .github/workflows/build.yml
  .github/workflows/npm-release.yml
Due: prettier --write

3.3.0-alpha-3
  package.json
Due: prettier --write

3.3.0-alpha-4
  package.json
Due: prettier --write

3.3.0
  package.json
Due: prettier --write

feat: overriding custom SBTs
  src/masa/use-custom-sbt.ts
Due: none

3.3.1
  package.json
Due: prettier --write

delete inused assets
  src/assets/coinbase.png
  src/assets/coinbase.ts
  src/assets/index.ts
  src/assets/metamask.png
  src/assets/metamask.ts
  src/assets/twitterLogo.png
  src/assets/walletconnect.ico
  src/assets/walletconnect.ts
Due: none

fix: remove entities from provider, add isLoadingWallet
  src/provider/masa-client-provider.tsx
  src/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

3.3.1-alpha-1
  package.json
Due: prettier --write

fix: credit score loading test
  src/hooks/use-can-query.ts
  src/masa/use-credit-scores.ts
Due: none

3.3.2-alpha-1
  package.json
Due: prettier --write

fix: remove a few loading states from load masa
  src/masa/use-masa-loading.ts
  src/masanew.stories.tsx
Due: eslint --fix, prettier --write

3.3.2-alpha-2
  package.json
Due: prettier --write

fix: remove auto fetch from greens
  src/masa/use-green.ts
Due: none

3.3.2-alpha-3
  package.json
Due: prettier --write

3.3.2-alpha-4
  package.json
Due: prettier --write

chore: update masa-sdk version
  package.json
  yarn.lock
Due: prettier --write

3.3.2-alpha-5
  package.json
Due: prettier --write

chore: remove commented code
  src/provider/masa-client-provider.tsx
Due: eslint --fix, prettier --write

3.3.2
  package.json
Due: prettier --write

fix: spacing fix on authentication modal
  src/scss/modal.scss
  src/ui/components/modals/ModalLoading.tsx
  src/ui/components/modals/authenticate/connected-view.tsx
Due: eslint --fix, prettier --write

3.3.3
  package.json
Due: prettier --write

chore: don't cast to random objects
  src/masa/use-session-connect.ts
Due: none

fix: map wagmis isSwitchingChain to out flag. correct typo
  src/wallet-client/network/use-network.ts
  src/wallet-client/wallet-client-provider.tsx
Due: eslint --fix, prettier --write

fix: prettier all the things chore: update packages
  package.json
  yarn.lock
Due: prettier --write

3.3.4
  package.json
Due: prettier --write

chore: update sdk
  package.json
  yarn.lock
Due: prettier --write

3.3.5
  package.json
Due: prettier --write

added: scroll sepolia network config
  src/wallet-client/utils.ts
Due: none

3.4.0-alpha.1
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
