Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

refactor: removed unsed logging
  src/wallet-client/utils.ts
Due: none

3.4.0
  package.json
Due: prettier --write

refactor: fix unknown network handling
  src/masa-client/use-masa-client.ts
  src/wallet-client/utils.ts
Due: none

3.4.1
  package.json
Due: prettier --write

chore: update packages
  package.json
  yarn.lock
Due: prettier --write

fix: sign in flow when connected to unknown network
  src/masa-client/use-masa-client.ts
  src/masa-client/use-masa-sdk.ts
Due: none

3.4.2
  package.json
Due: prettier --write

chore: update build script
  .github/workflows/build.yml
  .github/workflows/npm-release.yml
  .github/workflows/publish-to-docs.yml
  .github/workflows/size.yml
Due: prettier --write

chore: remove connected view and auth finish functionality
  src/ui/components/modals/authenticate/authenticate.tsx
  src/ui/components/modals/authenticate/use-authenticate.ts
Due: eslint --fix, prettier --write

3.4.3
  package.json
Due: prettier --write

3.4.4
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/CustomGallerySBT.md
  docs/interfaces/FullContract.md
  docs/interfaces/FullContractWithTokens.md
  docs/interfaces/GalleryMetadata.md
  docs/interfaces/HydratedContract.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaProviderValue.md
  docs/interfaces/MasaShape.md
  docs/interfaces/Metadata.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/TabsInterface.md
  docs/interfaces/Token.md
  docs/interfaces/TokenWithMetadata.md
  docs/modules.md
Due: none

feat: remove unused modal components
  src/ui/components/modals/authenticate/auth-view.tsx
  src/ui/components/modals/authenticate/connected-view.tsx
  src/ui/components/modals/authenticate/use-authenticate-modal.ts
  src/ui/components/modals/authenticate/use-authenticate.ts
Due: eslint --fix, prettier --write

3.4.5-alpha-1
  package.json
Due: prettier --write

fix: add loading session state to authenticate view
  src/ui/components/modals/authenticate/use-authenticate-modal.ts
Due: none

3.4.5-alpha-2
  package.json
Due: prettier --write

feat: fix modal state
  src/masanew.stories.tsx
  src/ui/components/modals/authenticate/authenticate.tsx
Due: eslint --fix, prettier --write

3.4.5-alpha-3
  package.json
Due: prettier --write

fix: modal states
  src/ui/components/modals/authenticate/authenticate.tsx
  src/ui/components/modals/authenticate/use-authenticate-modal.ts
Due: eslint --fix, prettier --write

3.4.5-alpha-4
  package.json
Due: prettier --write

feat: remove gallery modal
  src/ui/components/modals/gallery/Gallery.tsx
  src/ui/components/modals/gallery/index.ts
  src/ui/components/modals/gallery/useTabs.tsx
  src/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

3.4.5
  package.json
Due: prettier --write

feat: masa-react stable
  package.json
  yarn.lock
Due: prettier --write

3.4.6
  package.json
Due: prettier --write

chore: update docs
  CHANGELOG.md
  docs/interfaces/CustomGallerySBT.md
  docs/interfaces/FullContract.md
  docs/interfaces/FullContractWithTokens.md
  docs/interfaces/GalleryMetadata.md
  docs/interfaces/HydratedContract.md
  docs/interfaces/MasaProviderValue.md
  docs/interfaces/Metadata.md
  docs/interfaces/TabsInterface.md
  docs/interfaces/Token.md
  docs/interfaces/TokenWithMetadata.md
  docs/modules.md
Due: none

feat(wallet): export useAccountChangeListen
  src/wallet-client/wallet/index.ts
Due: none

fix: button types
  src/ui/components/Button.tsx
Due: eslint --fix, prettier --write

fix: remove commented out code
  src/hooks/use-can-query.ts
  src/hooks/use-debounce.ts
  src/masa/use-credit-scores.ts
  src/masa/use-green.ts
  src/masa/use-masa-loading.ts
  src/masa/use-session-connect.ts
  src/masa/use-session-listen.ts
  src/masa/use-session.ts
  src/provider/masa-client-provider.tsx
  src/ui/styles.scss
  src/wallet-client/constants.ts
  src/wallet-client/network/use-network.ts
  src/wallet-client/wagmi-rainbowkit-provider.tsx
  src/wallet-client/wallet/types.d.ts
  src/wallet-client/wallet/use-account-change-listen.ts
Due: eslint --fix, prettier --write

fix: typos
  docs/modules.md
  src/masa.stories.tsx
  src/masa/use-identity.ts
  src/masa/utils.ts
  src/masanew.stories.tsx
  src/ui/components/modals/create-soulname/CreateSoulnameForm.tsx
  src/wallet-client/wallet-client-provider.tsx
  src/wallet.stories.tsx
Due: eslint --fix, prettier --write

fix: typescript errors
  src/masa.stories.tsx
  src/masanew.stories.tsx
  src/wallet.stories.tsx
Due: eslint --fix, prettier --write

3.4.7-alpha-1
  package.json
Due: prettier --write

3.4.7
  package.json
Due: prettier --write

feat: update sdk
  package.json
  yarn.lock
Due: prettier --write

3.4.8
  package.json
Due: prettier --write

feat: upgrade contracts version
  package.json
Due: prettier --write

3.4.9
  package.json
Due: prettier --write

chore (dynamic sbts): update pkgs
  package.json
  yarn.lock
Due: prettier --write

3.5.0-alpha.1
  package.json
Due: prettier --write

chore (dynamic sbts): update sdk
  package.json
  yarn.lock
Due: prettier --write
