Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

2.2.0
  package.json
Due: prettier --write

2.2.1
  package.json
Due: prettier --write

added docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

feat(refactor): first draft acc state
  src/refactor/MasaStateProvider.tsx
  src/refactor/index.tsx
  src/refactor/masa-client.ts/masa.ts
  src/refactor/wallet-client/wallet-client.ts
Due: eslint --fix, prettier --write

fix: window buffer import
  src/index.tsx
Due: eslint --fix, prettier --write

2.2.2
  package.json
Due: prettier --write

2.2.2
  package.json
  src/index.tsx
Due: eslint --fix, prettier --write

fix: uncomment window check
  src/index.tsx
Due: eslint --fix, prettier --write

2.2.3
  package.json
Due: prettier --write

feat: wip wallet client
  src/refactor/wallet-client/wallet-client.ts
Due: none

fix: remaining window access
  src/components/masa-interface/pages/gallery/index.tsx
  src/components/modal/modal.tsx
Due: eslint --fix, prettier --write

2.2.4
  package.json
Due: prettier --write

fix: wrong use of hooks
  src/components/masa-interface/pages/gallery/index.tsx
Due: eslint --fix, prettier --write

2.2.5
  package.json
Due: prettier --write

2.2.6
  package.json
Due: prettier --write

feat: wip refactor state
  src/refactor/masa-client/masa-client.ts
Due: none

fix: last remaining window destructure
  src/components/modal/modal.tsx
Due: eslint --fix, prettier --write

2.2.7
  package.json
Due: prettier --write

fix: refactor wip
  src/refactor/wallet-client/network.ts
  src/refactor/wallet-client/wallet-client.ts
Due: none

HOTFIX Gallery
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
  src/provider/modules/custom-sbts/custom-sbts.ts
Due: eslint --fix, prettier --write

Hotfix gallert
  src/components/masa-interface/pages/gallery/gallery.stories.tsx
Due: eslint --fix, prettier --write

2.3.0
  package.json
Due: prettier --write

fix: walletconnect config
  src/provider/configured-rainbowkit-provider/configured-rainbowkit-provider.tsx
Due: eslint --fix, prettier --write

2.3.1-alpha-1
  package.json
Due: prettier --write

2.3.1
  package.json
Due: prettier --write

Catching error when switching to unsupported network
  src/provider/modules/network/network.ts
Due: none

2.3.2
  package.json
Due: prettier --write

feat: add modal size config option, linting
  src/provider/configured-rainbowkit-provider/configured-rainbowkit-provider.tsx
  src/provider/masa-provider.tsx
  src/provider/modules/network/network.ts
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

fix: missing hook dependency
  src/provider/masa-context-provider.tsx
Due: eslint --fix, prettier --write

2.3.3
  package.json
Due: prettier --write

fix: logout and modal state (again)
  src/components/masa-interface/masa-interface.tsx
  src/components/masa-interface/pages/switch-chain/switch-chain.tsx
  src/provider/hooks.ts
  src/provider/masa-context-provider.tsx
  src/provider/use-account-state.ts
  src/styles.scss
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

2.3.4
  package.json
Due: prettier --write

2.3.5
  package.json
Due: prettier --write

fix: modal loop
  src/components/masa-interface/masa-interface.tsx
  src/styles.scss
  stories/masa.stories.tsx
Due: eslint --fix, prettier --write

2.3.6
  package.json
Due: prettier --write

chore: remove console.log
  src/components/masa-interface/masa-interface.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx, ts}
  prettier --write: (any of: *.{tsx, ts}) or (any of: *.{json,yml})
