Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

brozo copy updates
  src/components/masa-interface/pages/authenticate/authenticate.tsx
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

lint fixes
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

2.5.5
  package.json
Due: prettier --write

update masa-sdk to support base mainnet
  package.json
  src/refactor/wallet-client/utils.ts
  yarn.lock
Due: prettier --write

2.6.0
  package.json
Due: prettier --write

2.7.0
  package.json
Due: prettier --write

added nice-modal-react
  .eslintignore
  package.json
  src/components/modal/modal.tsx
  src/refactor/config.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  yarn.lock
Due: eslint --fix, prettier --write

update brozo copy
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

lint fix
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

2.7.1
  package.json
Due: prettier --write

update sdk
  package.json
  yarn.lock
Due: prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

masa-inferface: Removing openConnectModall call
  src/components/masa-interface/masa-interface.tsx
Due: eslint --fix, prettier --write

2.6.0-alpha-4
  package.json
Due: prettier --write

td: Removing some lint errors
  src/components/masa-interface/masa-interface.tsx
  src/components/masa-interface/pages/authenticate/authenticate.tsx
Due: eslint --fix, prettier --write

clean
  src/components/masa-interface/masa-interface.tsx
  src/components/masa-interface/pages/authenticate/authenticate.tsx
Due: eslint --fix, prettier --write

2.6.0-alpha-5
  package.json
Due: prettier --write

2.7.2
  package.json
Due: prettier --write

Updating SDK
  package.json
  src/refactor/wallet-client/utils.ts
  stories/masa.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write

2.6.0-alpha-6
  package.json
Due: prettier --write

fix for clearing soulname on error
  package.json
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  yarn.lock
Due: eslint --fix, prettier --write

lint fix
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
Due: eslint --fix, prettier --write

2.7.3
  package.json
Due: prettier --write

updated modal logic
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/connected/connected.tsx
  src/refactor/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

cleanup
  src/components/modal/modal.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
Due: eslint --fix, prettier --write

refactor create-identity
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-identity/index.tsx
  src/refactor/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

refactored parent modal
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/modal.tsx
Due: eslint --fix, prettier --write

Lint fix
  .eslintignore
  src/components/masa-interface/pages/authenticate/authenticate.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

PR Comment fix, catch homestead value from wagmi
  .eslintrc
  src/refactor/masa-client/use-masa-client.ts
Due: none

renamed modal components
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/index.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-identity/index.tsx
Due: eslint --fix, prettier --write

update twitter share copy, add slippage disclaimer
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
  src/styles.scss
Due: eslint --fix, prettier --write

2.7.4
  package.json
Due: prettier --write

refactored authentication modal
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/authview.tsx
  src/refactor/ui/components/modals/authenticate/connectedview.tsx
Due: eslint --fix, prettier --write

refactored create-identity modal
  src/refactor/ui/components/modals/authenticate/auth-view.tsx
  src/refactor/ui/components/modals/authenticate/authenticate.tsx
  src/refactor/ui/components/modals/authenticate/connected-view.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/ui/components/modals/create-identity/hurray-view.tsx
  src/refactor/ui/components/modals/create-identity/success-view.tsx
Due: eslint --fix, prettier --write

removed unused component
  src/refactor/ui/components/modals/connected/connected.tsx
  src/refactor/ui/components/modals/connected/index.tsx
Due: eslint --fix, prettier --write

refactored create-credit-score modal
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/create-credit-score/create-credit-score.tsx
  src/refactor/ui/components/modals/create-credit-score/index.tsx
  src/refactor/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

make rodal mask unclickable
  src/styles.scss
Due: none

2.7.5
  package.json
Due: prettier --write
