Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

linting fixes
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

update sdk
  package.json
  yarn.lock
Due: prettier --write

2.4.1
  package.json
Due: prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

2.4.2
  package.json
Due: prettier --write

update masa-sdk
  package.json
  yarn.lock
Due: prettier --write

2.4.3
  package.json
Due: prettier --write

deepsource fix
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
Due: eslint --fix, prettier --write

2.4.4
  package.json
Due: prettier --write

2.4.5
  package.json
Due: prettier --write

2.4.6
  package.json
Due: prettier --write

update docs
  CHANGELOG.md
Due: none

2.4.7
  package.json
Due: prettier --write

feat: wip
  src/refactor/masa-provider.tsx
Due: eslint --fix, prettier --write

fix network detection
  src/provider/modules/custom-sbts/custom-sbts.ts
Due: none

2.4.8
  package.json
Due: prettier --write

base universe typo, fix button styling
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/styles.scss
Due: eslint --fix, prettier --write

2.4.9
  package.json
Due: prettier --write

fix bu twitter link and content
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

2.4.10
  package.json
Due: prettier --write

fix twitter link bu
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

2.4.11
  package.json
Due: prettier --write

whow twitter on each soulname success
  src/components/masa-interface/pages/create-soulname/create-soulname.tsx
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

lint fix
  src/components/masa-interface/pages/success-create-identity/success-create-identity.tsx
Due: eslint --fix, prettier --write

2.4.12
  package.json
Due: prettier --write

feat: wip masa session
  src/refactor/masa-feature/use-session.ts
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

feat: masa state wip, add previous address logic
  src/refactor/masa-feature/use-session.ts
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/wallet-client-provider.tsx
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

feat: session sync to accounts
  src/refactor/masa-feature/use-session.ts
  src/refactor/wallet-client/wallet/use-account-change-listen.ts
Due: none

feat: more refactor, session cleanup
  src/refactor/masa-client-provider.tsx
  src/refactor/masa-feature/use-session.ts
  src/refactor/masa-provider.tsx
  src/refactor/masanew.stories.tsx
  src/refactor/wallet-client/wallet/use-wallet.ts
Due: eslint --fix, prettier --write

2.4.13
  package.json
Due: prettier --write
