Repository masa-finance/masa-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{tsx, ts}": ["eslint --fix", "prettier --write"],
  "*.{json,yml}": ["prettier --write"]
}

3.0.18
  package.json
Due: prettier --write

3.0.19
  package.json
Due: prettier --write

update docs
  CHANGELOG.md
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
Due: none

fix: storybook packages, network detection hook fix
  package.json
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/wallet-client/network/use-network.ts
  yarn.lock
Due: prettier --write

3.0.20
  package.json
Due: prettier --write

chore: remove unused old modals
  src/components/index.ts
  src/components/new-modal/Backdrop.tsx
  src/components/new-modal/Modal.tsx
  src/components/new-modal/index.tsx
  src/components/new-modal/modals/AuthenticateModal.tsx
  src/components/new-modal/modals/ConnectedModal.tsx
  src/components/new-modal/modals/CreateCreditScoreModal.tsx
  src/components/new-modal/modals/CreateIdentityModal.tsx
  src/components/new-modal/modals/CreateSoulnameModal.tsx
  src/components/new-modal/modals/SuccessCreateIdentityModal.tsx
  src/components/new-modal/modals/SwitchChainModal.tsx
  src/components/new-modal/modals/index.tsx
  src/provider/masa-shape.ts
  src/provider/modules/modal-provider.tsx
  src/provider/modules/new-modal/index.tsx
  src/provider/modules/new-modal/use-masa-modals.tsx
Due: eslint --fix, prettier --write

fix: remove unused dependencies, fix imports
  docs/enums/SoulNameErrorCodes.md
  docs/interfaces/ArweaveConfig.md
  docs/interfaces/MasaContextProviderProps.md
  docs/interfaces/MasaShape.md
  docs/interfaces/ModalProps.md
  docs/interfaces/SpinnerProps.md
  docs/interfaces/WrapperModalProps.md
  docs/modules.md
  jest.config.js
  package.json
  src/components/masa-interface/pages/masa-green/code.tsx
  src/components/masa-interface/pages/masa-green/error.tsx
  src/components/masa-interface/pages/masa-green/phone-input.tsx
  src/components/masa-interface/pages/masa-green/success.tsx
  src/components/masa-interface/pages/masa-green/verifiy-and-mint.tsx
  src/provider/masa-context-provider.tsx
  src/provider/modules/custom-sbts/custom-sbts.ts
  src/refactor/wallet-client/constants.ts
  webpack.config.prod.js
  yarn.lock
Due: eslint --fix, prettier --write

chore: disable tests
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

fix: new size-limit config
  .size-limit.json
  package.json
  yarn.lock
Due: prettier --write

chore: add yarn as package manager
  .github/workflows/size.yml
Due: prettier --write

fix: test smaller size-limit config
  .size-limit.js
  .size-limit.json
Due: prettier --write

fix: remove build on prepare
  package.json
Due: prettier --write

chore: add back size limits
  .size-limit.js
Due: none

chore: add masa linting config, update linting, remove packages
  .eslintignore
  .eslintrc
  package.json
  src/provider/masa-shape.ts
  src/provider/modules/credit-scores/credit-scores.ts
  src/provider/modules/green/green.ts
  src/provider/modules/identity/identity.ts
  src/provider/modules/sbt/sbt.ts
  src/provider/modules/session/session.ts
  src/provider/modules/soulnames/soulnames.ts
  src/provider/modules/wallet/wallet.ts
  src/provider/use-network-switch.tsx
  src/refactor/config.ts
  src/refactor/masa-client/use-masa-client.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/ui/components/modals/authenticate/use-authenticate.ts
  src/refactor/ui/components/modals/create-credit-score/create-credit-score.tsx
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/wallet-client/constants.ts
  src/refactor/wallet-client/network/use-network.ts
  src/refactor/wallet-client/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: linting & build
  .eslintignore
  src/components/masa-interface/pages/gallery/gallery.tsx
  src/components/masa-interface/pages/gallery/index.tsx
  src/provider/masa-shape.ts
  src/refactor/masa-client/use-masa-sdk.ts
  src/refactor/ui/components/modals/create-identity/create-identity.tsx
  src/refactor/wallet-client/utils.ts
Due: eslint --fix, prettier --write

3.0.21
  package.json
Due: prettier --write

fix mobile modal styling
  src/components/modal/modal.tsx
  src/refactor/ui/components/modals/modal.tsx
Due: eslint --fix, prettier --write

lint fix
  src/components/modal/modal.tsx
  src/refactor/ui/components/modals/modal.tsx
Due: eslint --fix, prettier --write

3.0.22
  package.json
Due: prettier --write

fix: make queryclient stateful
  src/refactor/masa-client/use-masa-query-client.ts
Due: none

3.0.23-alpha-1
  package.json
Due: prettier --write

feat: hydration as props
  package.json
  src/refactor/masa-provider.tsx
  src/refactor/provider/masa-client-provider.tsx
  src/refactor/provider/masa-state-provider.tsx
  yarn.lock
Due: eslint --fix, prettier --write

3.0.23-alpha-2
  package.json
Due: prettier --write

feat: remove react-query and only use tanstack react-query
  package.json
  src/provider/hooks.ts
  src/provider/masa-provider.tsx
  src/provider/masa-query-client.tsx
  src/provider/modules/credit-scores/credit-scores.ts
  src/provider/modules/custom-sbts/custom-sbts.ts
  src/provider/modules/green/green.ts
  src/provider/modules/identity/identity.ts
  src/provider/modules/sbt/sbt.ts
  src/provider/modules/session/session.ts
  src/provider/modules/soulnames/soulnames.ts
  src/provider/modules/wallet/wallet.ts
  yarn.lock
Due: eslint --fix, prettier --write

3.0.23-alpha-3
  package.json
Due: prettier --write

updated sdk for base green mint
  package.json
  yarn.lock
Due: prettier --write

WIP: Refactoring gallery, new modal, removing complexity, removing local storage contracts, using new hooks
  src/components/masa-interface/pages/gallery/gallery.tsx
  src/components/masa-interface/pages/gallery/index.tsx
  src/refactor/config.ts
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/gallery/Gallery.tsx
  src/refactor/ui/components/modals/gallery/index.ts
  src/refactor/ui/components/modals/gallery/useTabs.tsx
  src/refactor/ui/components/modals/index.tsx
Due: eslint --fix, prettier --write

fix: buffer again
  src/index.tsx
  src/refactor/masanew.stories.tsx
Due: eslint --fix, prettier --write

3.0.23-alpha-4
  package.json
Due: prettier --write

gallery useCustomSBTsQuery: Refactoring with new useQuery
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/ui/components/modals/gallery/Gallery.tsx
Due: eslint --fix, prettier --write

gallery useCustomGallerySBT: Refactoring with new useQuery
  src/refactor/masa/use-custom-sbt.ts
Due: none

3.0.23
  package.json
Due: prettier --write

3.0.24
  package.json
Due: prettier --write

updated sdk
  package.json
  yarn.lock
Due: prettier --write

Upgrade masa-identity contracts
  package.json
  yarn.lock
Due: prettier --write

3.0.25
  package.json
Due: prettier --write

update the shape for the custom gallery sbt
  src/provider/masa-shape.ts
Due: none

3.0.26
  package.json
Due: prettier --write

Adding minimum UI
  src/components/masa-interface/pages/gallery/gallery.tsx
  src/components/masa-interface/pages/gallery/tabs.tsx
  src/refactor/masa/use-custom-sbt.ts
  src/refactor/masanew.stories.tsx
  src/refactor/ui/components/modals/gallery/Gallery.tsx
  src/refactor/ui/components/modals/gallery/useTabs.tsx
  src/styles.scss
Due: eslint --fix, prettier --write
